<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %} Wizardry Tournament 2014 {% endblock %}</title>
	<link href="/static/glike.css" rel="stylesheet" type="text/css"/>
<!--    <script type="text/javascript" src="/static/javascripts/jquery-1.6.2.min.js"></script> -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/vex.combined.min.js"></script>
        <link rel="stylesheet" href="/static/css/vex.css" />
        <link rel="stylesheet" href="/static/css/vex-theme-os.css" />
        <style type="text/css">
           #footer {
               text-align:center;   
               color:#ff9;
               font-size:9px;
           }
        </style>
        {% block stylesheet %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
</head>
<body>
        <div id="menu">
           <h1><a href="index.htm">Wizardry Tournament 2014</a></h1>
           <ul>
               <li><a href="/photos"
                       {% if path== '/photos' %}
                          class="selected"
                       {% endif %}
               >The Photo Challenges</a></li>
<!--
               <li><a href="/feast"
                       {% if path== '/feast' %}
                          class="selected"
                       {% endif %}
               >The Feast</a></li>
-->
               <li><a href="/sorting"
                       {% if path== '/sorting' %}
                          class="selected"
                       {% endif %}
               >The Sorting Ceremony</a></li>
               <li><a href="/rules"
                       {% if path== '/rules' %}
                          class="selected"
                       {% endif %}
               >The House Rules</a></li>
           </ul>
        </div>
	<div id="bodycontent">
		{% block bodycontent %}
		Replace this
		{% endblock %}
	</div>
        <div id="footer">
         Event proudly brought to you by <b>OCT Team Building Committee:</b><br>ckoh, keshav, lampuisuan, limbeebee, sereneho, tankokhua
        </div>
</body>
</html>
