{% extends "templates/_base.htm" %}

{% block stylesheet %}
<style type="text/css">
   .container {
      margin-left: 20px;
   }

   #answers {
      margin-top: 10px;
      font-size:15pt;
      margin-bottom: 10px;
   }

   button {
      margin-left: 15px;
   }

   .thumbnail {
      border: 1px solid #ddd;
      border-radious: 4px;
      padding: 5px;
      width: 150px;
   }
</style>
{% endblock %}

{% block javascript %}
         <script type="text/javascript">
	    //$(document).ready(function() {
	    //});
            function getPhoto() {
                var score = document.getElementById("score").value;
                
                $("#answers").html("Running ...");
                $.ajax( {
                    type:'POST',
                    url:'/getPhoto',
                    data:{'score': score
                    },
                    cache:false,
                    success: function(html) {$("#answers").html(html);},
                    error: function(xrq, sts, err) {$("#answers").val("Error");},
                });
            }

         </script>
{% endblock %}

{% block bodycontent %}
<h2 style="color:#ffffff;margin-left:-35px;margin-top:10px;">Photo Download</h2>
<form style="margin-left:-20px;">
   <div class="row">
      <div>
        <label style="color:#ffffff;" for="score">Enter 12-characters photo ID (e.g. AK002EDGVVXB):</label>
     </div>
      <div class="form-group">
        <input type="text" class="form-control" id="score" value={{score}}>
      </div>
      <div>
        <button type="button" class="btn btn-primary" onclick="getPhoto();">Submit</button>
      </div>
   </div>
   <div class="row">
      <div id="answers">{{answers}}</div>
   </div>
</form>
{% endblock %}
