{% extends "templates/_base.htm" %}

{% block stylesheet %}
<style type="text/css">
   .container {
      margin-left: 20px;
      margin-top: 10px;
   }
   #answers {
      margin-top: 10px;
      font-size:15pt;
      margin-bottom: 10px;
   }
   button {
      margin-left: 15px;
      margin-top: 35px;
      height:35px;
   }

   .plabel {
      padding-right:10px;
   }
   
   .squaredotted {
      width: 60px;
      height: 60px;
      line-height: 60px;
      border: 1px dotted green;
      margin-bottom: 5px;
      margin-left: 5px;
      text-align: center;
      float: left;
      color: gray;
      background-color: lightgreen;
   }
   .buffer {
      width: 60px;
      height: 60px;
      line-height: 60px;
      border: 1px dotted white;
      margin-bottom: 5px;
      margin-left: 5px;
      text-align: center;
      float: left;
      color: white;
      background-color: white;
   }

   .thumbnail {
      border: 1px solid #ddd;
      border-radious: 4px;
      padding: 5px;
      width: 150px;
   }
</style>
{% endblock %}

{% block javascript %}
         <script type="text/javascript">
	    //$(document).ready(function() {
	    //});
            function getPhoto() {
                var score = document.getElementById("score").value;
                
                $("#answers").html("Running ...");
                $.ajax( {
                    type:'POST',
                    url:'/getPhoto',
                    data:{'score': score
                    },
                    cache:false,
                    success: function(html) {$("#answers").html(html);},
                    error: function(xrq, sts, err) {$("#answers").val("Error");},
                });
            }

         </script>
{% endblock %}

{% block bodycontent %}
<h3>Photo Download</h3>
<form>
   <div class="row">
      <div class="form-group">
        <label for="score">Enter photo ID (e.g. AK002EDGVVXB):</label>
        <input type="text" class="form-control col-9" id="score" value={{score}}>
      </div>
      <div class="row">
         <button type="button" class="btn btn-primary" onclick="getPhoto();">Submit</button>
      </div>
   </div>
   <div class="row">
      <div class="shadow border border-success rounded text-center col-10" id="answers">{{answers}}</div>
   </div>
</form>
{% endblock %}
